# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*.swn
*~

# Build
dist/
build/
target/

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Coverage
coverage/

# Graphify cache
graphify-out/cache/

# Images (generated/book covers)
*/images

# Logs
*.log

# Test's
fixtures/

# ESlint local rules
/eslint-local-rules/


# Docs
.docs