# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*.swn
--project
engram-export.json
*~

# Build
dist/
build/
target/
.scripts

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Coverage
coverage/

# CodeGraph 
.codegraph

# Images (generated/book covers)
*/images

# Logs
*.log

# Test's
fixtures/

# ESlint local rules
/eslint-local-rules/


# Docs
.docs